/Actors/bin/Debug/NetworkTransport.dll
/Actors/bin/Debug/NetworkTransport.dll.mdb
/Actors/bin/Debug/NetworkTransport.exe
/Actors/bin/Debug/NetworkTransport.exe.mdb
/Actors/bin/Debug/Newtonsoft.Json.dll
/Actors/bin/Debug/Serialization.dll
/Actors/bin/Debug/Serialization.dll.mdb
/Actors.Example/bin/Debug/Actors.Example.exe
/Actors.Example/bin/Debug/Actors.Example.exe.mdb
/Actors.Example/bin/Debug/NetworkTransport.dll
/Actors.Example/bin/Debug/NetworkTransport.dll.mdb
/Actors.Example/bin/Debug/Newtonsoft.Json.dll
/Actors.Example/bin/Debug/Serialization.dll
/Actors.Example/bin/Debug/Serialization.dll.mdb
/packages/Newtonsoft.Json.5.0.8/lib/net20/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.5.0.8/lib/net20/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.5.0.8/lib/net35/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.5.0.8/lib/net35/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.5.0.8/lib/net45/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.5.0.8/lib/net45/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.5.0.8/lib/netcore45/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.5.0.8/lib/netcore45/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.5.0.8/lib/portable-net40+sl4+wp7+win8/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.5.0.8/lib/portable-net40+sl4+wp7+win8/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.5.0.8/lib/portable-net45+wp80+win8/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.5.0.8/lib/portable-net45+wp80+win8/Newtonsoft.Json.xml
/RemoteConsole/bin/Debug/NetworkTransport.dll
/RemoteConsole/bin/Debug/NetworkTransport.dll.mdb
/RemoteConsole/bin/Debug/NetworkTransport.exe
/RemoteConsole/bin/Debug/NetworkTransport.exe.mdb
/RemoteConsole/bin/Debug/Newtonsoft.Json.dll
/RemoteConsole/bin/Debug/RemoteConsole.dll
/RemoteConsole/bin/Debug/RemoteConsole.dll.mdb
/RemoteConsole/bin/Debug/Serialization.dll
/RemoteConsole/bin/Debug/Serialization.dll.mdb
/Serialization/bin/Debug/Newtonsoft.Json.dll
/Serialization/bin/Debug/Serialization.dll
/Serialization/bin/Debug/Serialization.dll.mdb
