<#@ template language="C#" debug="true" hostSpecific="true" #>
<#@ output extension=".g.cs" #>
<# SetClassName("struct", "Actors.ActorId Actors.Network.NodeId"); #>
<#@include file="../../Extensions/Templates/StructEqualityTemplate.tt" #>

